# Load Packages

In [1]:
import os
import pandas as pd
import seaborn as sns
from copulas.visualization import compare_2dv
from copulas.multivariate import GaussianMultivariate

# Load Data

In [2]:
data_nm="weight-height.csv"
base_data_folder="data"

In [3]:
# Download data
data_path=os.path.join("..",base_data_folder,data_nm)
if not os.path.isfile(data_path):
    print("Downloading data ...")
    !kaggle datasets download -d krishnaraj30/weight-and-height-data-outlier-detection -p ../data --unzip
    print("Download done!")
else:
    print("Data already exist")

Data already exist

In [4]:
df=pd.read_csv(data_path)

In [5]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

# Fit Copula

In [6]:
copula = GaussianMultivariate()
copula.fit(df[["Height","Weight"]])

/Users/ezratampubolon/PythonProjects/copula/.venv/lib/python3.10/site-packages/scipy/stats/_continuous_distns.py:5999: RuntimeWarning: divide by zero encountered in divide
  return c**2 / (c**2 - n**2)

# Outlier Detection

In [9]:
df["prob"]=copula.probability_density(df)
df["outlier"]=df["prob"]<0.001

In [19]:
df.query("outlier==True")

      Gender     Height      Weight      prob  outlier
86      Male  66.596197  208.345694  0.000590     True
1243    Male  62.063836  175.071171  0.000766     True
1317    Male  78.462053  227.342565  0.000075     True
1671    Male  70.059331  225.014368  0.000655     True
1750    Male  74.604668  249.946283  0.000793     True
2014    Male  78.998742  269.989699  0.000212     True
2623    Male  76.842679  211.724166  0.000132     True
2843    Male  70.440713  225.797525  0.000978     True
3585    Male  76.453720  213.732348  0.000726     True
3757    Male  78.621374  245.733783  0.000740     True
4170    Male  60.243718  153.831429  0.000302     True
4980    Male  60.614115  156.458355  0.000552     True
5009  Female  63.677868  104.151560  0.000819     True
5360  Female  55.668202   68.982530  0.000734     True
5434  Female  59.252725  139.140812  0.000441     True
6176  Female  55.851214  103.767137  0.000298     True
6289  Female  57.675181  125.941865  0.000155     True
6624  Female  54.616858   71.393749  0.000727     True
6625  Female  55.739737  108.121969  0.000056     True
6807  Female  58.523290  128.777739  0.000851     True
6811  Female  63.068203   93.424239  0.000016     True
6908  Female  56.098246  104.954100  0.000467     True
7153  Female  58.558513  131.404224  0.000465     True
7414  Female  57.783232  126.143596  0.000204     True
7427  Female  60.331972   86.059046  0.000280     True
7821  Female  65.263062  100.982899  0.000005     True
7935  Female  58.211650   77.523774  0.000491     True
8180  Female  60.336579   82.198488  0.000046     True
9285  Female  54.263133   64.700127  0.000299     True
9509  Female  60.694736   90.185406  0.000820     True
9566  Female  57.353093   72.750145  0.000412     True
9774  Female  65.816653  110.488487  0.000156     True
9775  Female  60.025950   87.035416  0.000780     True

In [21]:
sns.catplot(data=df,x="Height",y="Weight", hue="outlier",height=500)